body {
    background-color: lightgreen;
}

h1 {
	margin: 0;
}

.game {
    position: relative;
    height: 230px;
    min-width: 140%;
    background: url("https://i.stack.imgur.com/WHu9Z.png") repeat-x;
    background-size: contain;
}

.mario {
    height: 50px;
    position: absolute;
    bottom: 35px;
    left: 75px;
    transition: bottom .3s;
}

.coin {
    height: 20px;
    position: absolute;
    bottom: 150px;
    left: 85px;
}

h3 {
    float: right;
    margin: 25px;
}

button {
    font-weight: bold;
}

.row1 {
    display: flex;
}

.row2 {
    display: flex;
}

h2 {
    background-color: yellow;
}